@model IEnumerable<Team_Manager.Services.Data.ViewModels.TaskViewModels.TeamTaskViewModel>
    @{
        int counter = 1;
    }
<div class="container-fluid well">
    <h1 class="fredoka custom-header">Team Tasks</h1>

    @foreach (var task in this.Model)
    {
        <div class="panel">
            @Html.ActionLink("Task " + counter, "ShowTask", "TeamTask", new { taskId = task.Id }, new { @class = "success custom-header" })
            <div>Assigned to @task.TeamMemberName</div>
            @if (task.IsAccepted)
            {
                <div class="glyphicon glyphicon-ok">Accepted</div>
            }
            else if (task.IsRejected)
            {
                <div class="glyphicon glyphicon-remove">Rejected</div>
                <div>Rejection reason: @task.RejectionReason</div>
            }
            
            @if (ViewBag.CreatorId == ViewBag.CurrentUserId)
            {
                using (Html.BeginForm("DeleteTask", "TeamTask", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="number" value=@task.Id hidden="hidden" name="taskId"/>
                    <input type="submit" value="Delete task" class="btn btn-default btn-danger"/>
                }
            }
        </div>
        counter++;
    }
</div>
