@model Team_Manager.Services.Data.ViewModels.TaskViewModels.TaskViewModel

<h2>ShowTask</h2>

<div>
    <h2>Task from @this.Model.TeamName</h2>
    <input type="datetime" value="@this.Model.FinalDate" hidden="hidden" id="final-date"/>
    <div id="getting-started" class="clock"></div>
</div>


