

<div id="accepted" class="panel">
    <h2 class="fredoka custom-header">You have accepted the invitation!</h2>
    <div class="centered-element">@Html.ActionLink("Go Back", "MyInvitations", "User", null, new { @class = "fredoka btn btn-default btn-success" })</div>
</div>