@using Team_Manager.Services.Data.ViewModels;
@model IEnumerable<TeamMemberViewModel>
<div class="container-fluid well" id="border">
    <h2 class="fredoka custom-header">All Users</h2>
    @foreach (var user in this.Model)
    {
        <div class="panel centered-element" id="border">
            @Html.ActionLink(user.UserName, "UserInfo", "User", new { userId = user.Id }, new { @class = "success custom-header" })
        </div>
    }
</div>

