<h3>Add comment here: </h3>

<textarea class="form-control"
          cols="40"
          id="myTextArea"
          name="Content"
          rows="8">
</textarea>

<input type="submit" value="Post" class="success" />

