@model IEnumerable<Team_Manager.Services.Data.ViewModels.AdminViewModels.TeamAdminViewModel>

<div class="container-fluid well" id="border">
    <h1 class="fredoka custom-header">All Teams</h1>
    @foreach (var team in this.Model)
    {
        <div class="panel centered-element" id="admin-user-container">
            <span class="admin-style-link">@team.TeamName</span>
        </div>
    }
</div>

