@{
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="container-fluid well about">
    <p class="custom-header">
        Team Manager is a web application for people who want to create teams and collaborate with each other.
        You can create teams with different categories, add users to the teams, assign tasks to team members etc.
    </p>
    <p class="custom-header">
        Each user can accept and reject assigned tasks. Each task has a deadline. In the team page you can create a topic and add 
        comments.
    </p>
    <p class="custom-header">
        Team Manager is a greate place for cooperation.
    </p>
</div>
