@{
    Layout = "~/Views/Shared/_ContactLayout.cshtml";
}

<div class="container-fluid well">
    <address>
        Sofia, Bulgaria<br />
        Nadedja 2<br />
        <abbr title="Phone">P:</abbr>
        0888 888 888
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>

