
<div class="row">
        <div class="container-fluid well" id="border">
            <h1 class="text-center alert-danger">
                An Error occured! Sorry!
                <div>@Html.ActionLink("Go to home page", "Index", "Home", null, new { @class = "btn btn-default btn-primary" })</div>
            </h1>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
</div>

